.chart-container {
    display: flex;
    margin: 80px 10px;
}

.bar-chart{
    flex: 1;
    border: 1px solid black;
    box-shadow: 1px 5px 20px rgb(138, 138, 138);
    padding: 10px;
}

.pie-chart {
    flex: 1;
    border: 1px solid black;
    box-shadow: 1px 5px 20px rgb(128, 127, 127);
    padding: 10px;
    margin-left: 20px;
}


h1{
    padding-top: 10px;
}

h2{
    text-align: center;
}